# Constitution Sécurité

> Générée par `/osk-configure` le {{date}}
> Adaptation des 7 principes OpenSecKit à ce projet

## Principes Fondamentaux

Ce projet applique les **7 principes constitutionnels OpenSecKit**, pondérés selon le contexte validé.

## Pondération des Principes

> Validée par l'utilisateur le {{date}}

| # | Principe | Priorité | Justification |
|---|----------|----------|---------------|
{{#each principles}}
| {{number}} | {{name}} | {{priority}} | {{justification}} |
{{/each}}

## Exigences par Domaine

{{#if rgpd.enabled}}
### RGPD - Exigences Activées

{{#each rgpd.requirements}}
- [ ] **Art. {{article}}** : {{title}} - {{description}}
{{/each}}
{{/if}}

{{#if nis2.enabled}}
### NIS2 - Exigences Activées

{{#each nis2.requirements}}
- [ ] **Art. {{article}}** : {{title}} - {{description}}
{{/each}}
{{/if}}

{{#if rgs.enabled}}
### RGS - Exigences Activées

{{#each rgs.requirements}}
- [ ] **{{level}}** : {{title}} - {{description}}
{{/each}}
{{/if}}

## Règles Projet

### Règles Critiques (non négociables)

{{#each critical_rules}}
- {{this}}
{{/each}}

### Règles Standard

{{#each standard_rules}}
- {{this}}
{{/each}}
